<a href="https://colab.research.google.com/github/eun551/python/blob/main/siat_python_day02_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문자열에서 도메인만 출력하시오.
url = 'http://www.naver.com'
print('type -', type(url))

print('find -',url.find('com'))
print('com- ', url[-3 : ])
print('com-' , url[url.find('com') : ])

type - <class 'str'>
find - 17
com-  com
com- com

In [ ]:
companyName = '    삼성전자    '
print('length - ', len(companyName))
# 공백 제거
print(companyName.lstrip() , len(companyName.lstrip()))
print(companyName.rstrip() , len(companyName.rstrip()))
print(companyName.strip() , len(companyName.strip()))

length -  12
삼성전자     8
    삼성전자 8
삼성전자 4

In [ ]:
# 제공되는 문자열을 대문자로 변환하시오
companyName = 'samsung'
print('대문자 - ', companyName.upper())

# 제공되는 문자열을 소문자로 변환하시오
companyName = 'SAMSUNG'
print('대문자 - ', companyName.lower())

대문자 -  SAMSUNG
대문자 -  samsung

In [ ]:
# 제공되는 문자열에서 파일의 확장자가 xls, xlsx 파일인지를 확인하고 싶다
fileName = 'report.xlsm'
flag = fileName.endswith(('xls','xlsx','xlsm'))
print('flag - ', flag)

fileName = 'report.xls'
flag = fileName.endswith('xls')
print('flag - ', flag)


fileName = 'report.hwp'
flag = fileName.endswith('xls')
print('flag - ', flag)

flag -  True
flag -  True
flag -  False

In [ ]:
# in , not in  연산자
# 제공되는 리스트에서 melon이 있는지 없는지를 판단하고 싶다면?

exLst = ['apple','banana','durian','orange']

print('melon' in exLst)

print('banana' in exLst)

print('apple' not in exLst)

print('melon' not in exLst)

False
True
False
True

In [ ]:
# 대용량의 데이터를 다루기 위한 중요한 변수 타입은 list
# array X
# 순서, 중복, 수정, 삭제 가능
# [] , list()
dummyLst = []
print('type - ', type(dummyLst))
print('data - ', dummyLst)

# 데이터 넣기
dummyLst.append('A')
dummyLst.append('B')  # 2개 이상 넣을 수 없다.
print('append - ', dummyLst)

dummyLst.insert(1,'C') # 1 인덱스 자리에 추가 삽입된다.
print('insert - ', dummyLst)

# 데이터 빼기
#print('pop - ', dummyLst.pop())
#print('data - ', dummyLst)

print('pop - ', dummyLst.pop(0))
print('data - ', dummyLst)

dummyLst.insert(1,'E')
print('insert - ', dummyLst)

# 인덱스 번호 확인
print('특정 요소의 인덱스번지를 확인하고 싶다면?  - index() ')
print('index - ' , dummyLst.index('E'))

type -  <class 'list'>
data -  []
append -  ['A', 'B']
insert -  ['A', 'C', 'B']
pop -  A
data -  ['C', 'B']
insert -  ['C', 'E', 'B']
특정 요소의 인덱스번지를 확인하고 싶다면?  - index()
index -  1

# ---- 실습
movieRank = ['그루엘라' , '랑종' , '모가디슈' , '블랙위도우' , '강철비2' , '반도' , '킹덤']
'''
1. 배드맨을 마지막에 추가
2. 랑종과 모가디슈 사이에 임정섭을 추가
3. 블랙위도우 삭제
4. 모가디슈와 강철비2 삭제
5. 그루엘라의 인덱스를 구해서 pop()함수를 이용한 삭제
6. 최종 리스트 출력
'''

In [ ]:
movieRank = ['그루엘라' , '랑종' , '모가디슈' , '블랙위도우' , '강철비2' , '반도' , '킹덤']

movieRank.append('배트맨')
print('Q01-', movieRank)

movieRank.insert(2,'임정섭')
print('Q02-',movieRank)

movieRank.pop( movieRank.index('블랙위도우') )
print('Q03-',movieRank)

del movieRank[3:4]
print('Q04-',movieRank)

#내가 한 것
#print('pop - ', dummyLst.pop(3))
#print('pop - ', dummyLst.pop(3))
#print('Q04-',movieRank)

movieRank.pop( movieRank.index('그루엘라') )
print('Q05-',movieRank)

#내가 한 것
#print('index - ', movieRank.index('그루엘라'))
#movieRank.pop(0)
#print('Q05- ', movieRank)

Q01- ['그루엘라', '랑종', '모가디슈', '블랙위도우', '강철비2', '반도', '킹덤', '배트맨']
Q02- ['그루엘라', '랑종', '임정섭', '모가디슈', '블랙위도우', '강철비2', '반도', '킹덤', '배트맨']
Q03- ['그루엘라', '랑종', '임정섭', '모가디슈', '강철비2', '반도', '킹덤', '배트맨']
Q04- ['그루엘라', '랑종', '임정섭', '강철비2', '반도', '킹덤', '배트맨']
Q05- ['랑종', '임정섭', '강철비2', '반도', '킹덤', '배트맨']

In [ ]:
numLst = [1,2,3,4,5,6,7]
print('sum -',sum(numLst))
print('max - ',max(numLst))
print('min - ', min(numLst))
print('mean - ', sum(numLst) / len(numLst))
#len은 길이뿐만 아니라 요소의 개수를 나타내기도 한다.

sum - 28
max -  7
min -  1
mean -  4.0

In [ ]:
# range() : 숫자 Sequence 함수
tmpRange = range(10)
print('type - ' , type(tmpRange))
print('data - ' , tmpRange)

# 반복구문 ( 루프구문 )
# for ~ in 열거형변수 :    # 콜론 까지 문법, 열거형 (index가 있는 )
# print() , printIn()
for x in tmpRange :
  print(x)
print('loop 종료')

type -  <class 'range'>
data -  range(0, 10)
0
1
2
3
4
5
6
7
8
9
loop 종료

In [ ]:
for x in tmpRange :
  print(x , end = "\t")  # 한줄로 출력이 된다.
print('loop 종료')

0	1	2	3	4	5	6	7	8	9	loop 종료

In [ ]:
for x in tmpRange :
  print(x , end = "\t")  # 한줄로 출력이 된다.
print()
print('loop 종료')

0	1	2	3	4	5	6	7	8	9
loop 종료

In [ ]:
tmpRange = range(1,11)
for x in tmpRange :
  print(x , end="\t")
print()
print("종료")

1	2	3	4	5	6	7	8	9	10
종료

In [ ]:
tmpRange = range(1,11,2)
for x in tmpRange :
  print(x , end="\t")
print()
print("종료")

1	3	5	7	9
종료

In [ ]:
flag = 10 in tmpRange
print('flag - ', flag)

flag -  False

In [ ]:
import random

tmpLst = []
for x in range(6) :
  tmpLst.append( random.randint(1,46 ) )

print(tmpLst)

[30, 2, 37, 41, 4, 16]

In [ ]:
# list comprehension
# list 구문 안에 for 구문과 if을 구현할 수 있다.
# 기존 리스트 안에서 처리된 결과를 다시 담는 구현 방식
# 구문형식 [ 실행구문 for 변수 in 열거형객체 if 조건식 ]
#Quiz
# 리스트의 요소의 값을 제곱승한 값의 결과를 확인하고 싶다.
lst = [2,4,1,5,3]
# 반복 -> 리스트 안의 값을 꺼낸다 -> 새로운 리스트에 담는다.
# print(3**2)
result = []

for x in lst :
  result.append( x ** 2)
print()
print(result)

[4, 16, 1, 25, 9]

In [ ]:
# 구문형식 [ 실행구문 for 변수 in 열거형객체 if 조건식 ]
result = [ x**2 for x in lst ]
print(result)

[4, 16, 1, 25, 9]

In [ ]:

# range() 함수를 이용해서 1 ~ 100 사이의 3의 배수만 리스트에 담아서 출력하시오.
# 나머지 값을 확인 (연산자 - 나머지 연산자 %)
# 조건처리 (제어구문)
# if 조건문 or 데이터 :
#   문장
# else :
#   문장

result = []  #리스트에 담아서 출력하시오.

for x in range(1,101) :
  #print(x,end="\t")
  if x % 3 == 0 :
    result.append(x)
print(result)


#result = [ a % 3 == 0 for x in a]

# 구문형식
#[ 실행구문 for 변수 in 열거형객체 if 조건식 ]
result = [ y for y in range(1,101) if y % 3 == 0]
print(result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
print ( 10 % 2 == 0 )
# 나머지 계산

True

In [ ]:
# inner list
# [ [ ] ]

lst01 = ['a','b','c']
lst02 = ['d', 'e', lst01]
print(lst02)
print(lst02[-1][1])

['d', 'e', ['a', 'b', 'c']]
b