<a href="https://colab.research.google.com/github/eun551/python/blob/main/basic/siat_python_day03_%ED%8A%9C%ED%94%8C%2C%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

튜플(tuple)
- 읽기 전용
- 순서, 중복 허용 - sequence
- 수정, 삭제 불가
- 필요에 따라서 데이터를 조작해야 할 경우 형변화 (Casting 연산자)
- list로 타입을 바꿔야 한다. list(tuple)
- indexing, slicing
- 선언 방법 : () , tuple ()
- Packing & Unpacking

In [ ]:
tmpTuple = (3,)
print('type - ', type(tmpTuple))

type -  <class 'tuple'>

In [ ]:
tmpTuple = 1,2,3,4,5,6,2  #파이썬은 ()를 생략해도 패키지로 보기 때문에 가능하다. 자바는 안된다.
print('type - ', type(tmpTuple))
print('indexing - ' , tmpTuple[0])
print('slicing - ' , tmpTuple[0:2])

type -  <class 'tuple'>
indexing -  1
slicing -  (1, 2)

In [ ]:
# error
tmpTuple[0] = 100
# TypeError: 'tuple' object does not support item assignment
# 내가 강제로 할당하게 해봤다.

TypeError: 'tuple' object does not support item assignment

In [ ]:
print('count - ' , tmpTuple.count(2))
print('index - ' , tmpTuple.index(2))

#error
#print('count - ' , tmpTuple.count())
# TypeError: tuple.count() takes exactly one argument (0 given)
# 정확히 하나의 인수를 취함, 2가 두개 있으면 2가 나온다. 개수?

count -  2
index -  1

In [ ]:
# Quiz
# casting 생각
# 우리가 생성한 튜플의 요소의 값이 4인 데이터를 10으로 변경하고 결과를 확인하시오.

tmpTuple = 1,2,3,4,5,6,2

tmpLst = list(tmpTuple)  #형변환 수정가능하게 한다.
print('type - ' , type(tmpLst))
#print(tmpLst)

#tmpLst [tmpLst.index(4)] = 10
#tmpLst.index(4) 의 값은 3이기 때문에
#tmpLst[3] 즉 3번째에 들어가야 할 값을 말한다.
tmpLst [3] = 10
print('data -',tmpTuple)
print('data -',tmpLst)

type -  <class 'list'>
[1, 2, 3, 4, 5, 6, 2]
data - (1, 2, 3, 4, 5, 6, 2)
data - [1, 2, 3, 10, 5, 6, 2]

In [ ]:
data = tuple()
print('type -' , type(data))

type - <class 'tuple'>

In [ ]:
# 1~ 99 까지의 정수 중 짝수만 튜플에 담아서 출력하시오.

data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
packing = ('박신형','김도균','조영석','임지연')  #tuple, packing
print('data - ' , packing)
p,k,j,i = packing #인덱싱이나 슬라이싱으로 가져오는게 아니다
print('data - ' , p)
print('data - ' , k)
print('data - ' , j)
print('data - ' , i)  #unpacking

data -  ('박신형', '김도균', '조영석', '임지연')
data -  박신형
data -  김도균
data -  조영석
data -  임지연

In [ ]:
packing = ('박신형','김도균','조영석','임지연', '조은영')  #tuple, packing
print('data - ' , packing)
p,k,j,i,c = packing #인덱싱이나 슬라이싱으로 가져오는게 아니다

print(''.format())   #format 함수 :

print('당신의 이름은 {} 입니다.'.format(p))  # {} 안에 format(p) 에 해당한 값이 들어간다.

print('내 이름은 {} 입니다.'.format(c))

data -  ('박신형', '김도균', '조영석', '임지연', '조은영')

당신의 이름은 박신형 입니다.
내 이름은 조은영 입니다.

In [ ]:
p = packing
print('당신의 이름은 {} 입니다.'.format(p))

p = packing[0]
print('당신의 이름은 {} 입니다.'.format(p))

p,k = packing
print('당신의 이름은 {} 입니다.'.format(p))
print('당신의 이름은 {} 입니다.'.format(k))
#ValueError: too many values to unpack (expected 2) : 개수가 안 맞다.

당신의 이름은 ('박신형', '김도균', '조영석', '임지연', '조은영') 입니다.
당신의 이름은 박신형 입니다.

ValueError: too many values to unpack (expected 2)

In [ ]:
p,k, *all = packing  # * 나머지 요소가 다 들어간다. 중간 패키징로도 할 수 있다.
print('당신의 이름은 {} 입니다.'.format(p))
print('당신의 이름은 {} 입니다.'.format(k))

print(all)  #튜플이 아닌 리스트로 나온다.

당신의 이름은 박신형 입니다.
당신의 이름은 김도균 입니다.
['조영석', '임지연', '조은영']

In [ ]:
p, *middle , i = packing  # * 나머지 요소가 다 들어간다. 중간 패키징로도 할 수 있다.
print('당신의 이름은 {} 입니다.'.format(p))
print('당신의 이름은 {} 입니다.'.format(i))

당신의 이름은 박신형 입니다.
당신의 이름은 조은영 입니다.

In [ ]:
packing = ('박신형','김도균','조영석','임지연', '조은영')
first, *middle, last = packing

print('첫 번째 이름: {}'.format(first))  # Output: 박신형
print('마지막에서 두 번째 이름: {}'.format(last)) # Output: 임지연

첫 번째 이름: 박신형
마지막에서 두 번째 이름: 조은영

딕셔너리 (dict)
- 범용적으로 많이 사용되는 변수
- 순서 , 키 중복 허용하지 않음
- 수정과 삭제 가능
- 튜플을 리스트나 딕셔너리로도 바꿀 수 있다.
- key : value
- 선언 : {} , dict()

In [ ]:
dict01 = {
    'name' : 'cho' ,  #콤마 작성하기
    'phone' : '010-xxxx-xxxx' ,
    'birth' : '7777'
}
print('type - ' , type(dict01))
print('data - ' , dict01)


dict02 = {
    'name' : 'cho' ,
    'phone' : '010-xxxx-xxxx' ,
    'phone' : '7777'
}
print('type - ' , type(dict02))
print('data - ' , dict02)  #에러가 나지 않고, 덮여쓰워진다.

type -  <class 'dict'>
data -  {'name': 'cho', 'phone': '010-xxxx-xxxx', 'birth': '7777'}
type -  <class 'dict'>
data -  {'name': 'cho', 'phone': '7777'}

In [ ]:
# 키 유무 판단하기
# in

print('name' in dict01)

True

In [ ]:
# 데이터 수정
dict01['name']  # 데이터 추출
 # print(dict01) 수정을 하고 나면 그 이전 데이터는 없어지나?
dict01['name'] = 'Park' #데이터 수정
print(dict01)

{'name': 'Park', 'phone': '010-xxxx-xxxx', 'birth': '7777'}

In [ ]:
items = {
    '메로나' : [300,20],
    '비비빅' : [400,20],
    '죠스바' : [100,50]
}
print('data -' , items)

data - {'메로나': [300, 20], '비비빅': [400, 20], '죠스바': [100, 50]}

In [ ]:
# Quize
# 메로나 가격을 출력하시오.
# 300 * 20
#list[0] * list [1] 여기까지 생각한 나 잘했다.
print(items['메로나'][0] * items['메로나'][1])

6000

In [ ]:
items = {
    '메로나' : {'price' : 300 , 'qty' : 20},
    '비비빅' : [400,20],
    '죠스바' : [100,50]
}
print('data -' , items)

#수정했으면 한번 실행을 해줘야 한다. 안 그럼 수정 전 데이터로 계산하기 때문에 값이 안 나온다.

data - {'메로나': {'price': 300, 'qty': 20}, '비비빅': [400, 20], '죠스바': [100, 50]}

In [ ]:
items['메로나']['price'] #나 분명히 처음에 이걸로 했는데 오류가 나서 아닌 줄 알았어 ㅠㅠ
print('메로나의 가격은 {}입니다.'.format(items['메로나']['price']))

메로나의 가격은 300입니다.

In [ ]:
#Quize
#메로나 수량을 100개로 수정하고 결과를 확인하시오.
items['메로나']['qty'] = 100
print(items['메로나']['price']*items['메로나']['qty'])

30000

In [ ]:

# Quiz
# 새로운 상품을 출시하고자 한다.
# 새로운 상품의 이름은 녹차바 이고, 가격은 100원이며 수량은 10개로 한다.
#추가된 상품을 포함하는 items를 출력하시오.


#추가......add? new?
#딕셔너리는 함수를 쓰지 않는다. 어렵게 생각하지 말자.
items['녹차바'] = [100,10]
print(items)

{'메로나': {'price': 300, 'qty': 100}, '비비빅': [400, 20], '죠스바': [100, 50], '녹차바': [100, 10]}

In [ ]:
#Quiz
# 메로나의 가격을 10% 인상하여 데이터를 확인하시오.

items['메로나']['price']=int(items['메로나']['price']*1.1)
# 맞게 적었는데, 계속 누르면 누를수록 점점 올라간다.
# 소수점 안나오게 하려면 int()
print(items)

{'메로나': {'price': 439, 'qty': 20}, '비비빅': [400, 20], '죠스바': [100, 50]}

In [ ]:
# 두개의 튜플형식의 데이터를 딕셔너리형식으로 만들어 출력한다면
keys = ('apple','pear','peach')
vals = (1000,2000,3000)


# keys : vals

zip(keys,vals)
# zip 으로 묶어준다. : 주소값

#dict(zip(keys,vals))
zipDict = dict ( zip ( keys, vals ) )
print(zipDict)

{'apple': 1000, 'pear': 2000, 'peach': 3000}

In [ ]:
# keys() , valuse() , items() 함수명을 가진다.
for key in zipDict.keys() :
  print(key)
print()
for value in zipDict.values() :
  print(value)
print()
for key , value in zipDict.items() :  # unpacking 이다.
  print(key , value)
print()

apple
pear
peach

1000
2000
3000

apple 1000
pear 2000
peach 3000

In [ ]:
# Quiz
# 단어의 빈도수를 구한다면?
wordLst = ['love' , 'dog' , 'death', 'play' , 'cat' , 'house' , 'dog', 'dog','play']
# 딕셔너리 형식으로 {단어 : 빈도수}

# 내가 생각한 것
# {'dog' : 3 }
# list 형식.
print(wordLst.count('love'))
print(wordLst.count('dog'))
#{'dog' : print(wordLst.count('dog')) }
#단어 추출하기....
for x in wordLst :
  print(x)
print()

1
3
love
dog
death
play
cat
house
dog
dog
play

In [ ]:
# Quiz
# 단어의 빈도수를 구한다면?
wordLst = ['love' , 'dog' , 'death', 'play' , 'cat' , 'house' , 'dog', 'dog','play']
result = {}

print('case01 - ')
for word in wordLst :
  if word in result :
    result[word] += 1
  else :
    result[word] = 1

print(result)

case01 -
{'love': 1, 'dog': 3, 'death': 1, 'play': 2, 'cat': 1, 'house': 1}

In [ ]:
print('case02 - ')
result.clear()
for word in wordLst :
  result[word] = result.get(word, 0) + 1
  #print(result) 안에 있으면 끝날때까지 반복되어서 나온다. 주의!
print(result)

case02 -
{'love': 1, 'dog': 3, 'death': 1, 'play': 2, 'cat': 1, 'house': 1}

Set - 집합 자료형
- 순서, 중복 허용하지 않는다.
- 선언 : {} , set()
- 인덱셍, 슬라이싱 불가

In [ ]:
tmpSet = {1,2,3, 'cho' , 5,6,2,3,1,4,5}
print('type - ' , type(tmpSet))
print('data - ' , tmpSet)

type -  <class 'set'>
data -  {1, 2, 3, 4, 5, 6, 'cho'}

In [ ]:
print('case03 - ')
result.clear()
result = dict(zip(set(wordLst) , [ wordLst.count(word) for word in set(wordLst) ]))
print(result)

case03 -
{'play': 2, 'cat': 1, 'love': 1, 'house': 1, 'dog': 3, 'death': 1}

In [ ]:
print('case04 -')
result.clear()
for word in list(set(wordLst)) :
  result.update( {word : wordLst.count(word)} )
print(result)

case04 -
{'play': 2, 'cat': 1, 'love': 1, 'house': 1, 'dog': 3, 'death': 1}

In [ ]:
tmpSet = set()
print('type - ' , type(tmpSet))
print('data - ' , tmpSet)

type -  <class 'set'>
data -  set()

In [ ]:
tmpSet = set(1,2,3,1,2,3)
print('type - ' , type(tmpSet))
print('data - ' , tmpSet)

#에러가 나는게 맞다.

TypeError: set expected at most 1 argument, got 6

In [ ]:
tmpSet = set([1,2,3,1,2,3])
print('type - ' , type(tmpSet))
print('data - ' , tmpSet)
print('in - ' , 2 in tmpSet)
#error
#print('indexing-' , tmpSet[0])

type -  <class 'set'>
data -  {1, 2, 3}
in -  True

In [ ]:
# set -> tuple
tmpTuple = tuple(tmpSet)
print('type - ' , type(tmpTuple))
print('indexing - ' , tmpTuple[0])

type -  <class 'tuple'>
indexing -  1

In [ ]:
#Quiz
# 중복을 제거하여 성별을 조회하시오.
gender = ['남자','여자','남자','남자','여자','여자','남자']

set(gender)

{'남자', '여자'}

In [ ]:
print(list(set(gender)))

['여자', '남자']

In [ ]:
#교집합(intersection), 합집합(union), 차집합(difference)
set01 = set([1,2,3,4,5])
set02 = set([3,4,5,6,7])
print('intersection - ' , set01.intersection(set02))
print('union - ' , set01.union(set02))
print('difference - ' , set01.difference(set02))

intersection -  {3, 4, 5}
union -  {1, 2, 3, 4, 5, 6, 7}
difference -  {1, 2}

In [ ]:
#loop가 가능할까?

for x in set01 :
  print(x)
# 내부 ... 반복까지 가능하다.

1
2
3
4
5

In [ ]:
#set 타입의 변수에 새로운 데이터 추가 가능할까?
set02.add(7)
print('add - ', set02)

add -  {3, 4, 5, 6, 7}

In [ ]:
# 삭제 가능할까요?
set02.remove(3)
print('remove - ',set02)

remove -  {4, 5, 6, 7}

In [ ]:
#교집합(intersection), 합집합(union), 차집합(difference)
set01 = set([1,2,3,4,5])
set02 = set([3,4,5,6,7])
print('intersection - ' , set01.intersection(set02) , set01 & set02) #and
print('union - ' , set01.union(set02) , set01 | set02) #or
print('difference - ' , set01.difference(set02) , set01 - set02)

intersection -  {3, 4, 5} {3, 4, 5}
union -  {1, 2, 3, 4, 5, 6, 7} {1, 2, 3, 4, 5, 6, 7}
difference -  {1, 2} {1, 2}

# Quiz
# 단어의 빈도수를 구한다면?
wordLst = ['love' , 'dog' , 'death', 'play' , 'cat' , 'house' , 'dog', 'dog','play']

result = {}

In [ ]:
print('case05 -')
result.clear()
wordSet = set(wordLst)
for word in wordSet :
  cnt = 0
  for idx in range(len(wordLst)) :
    if wordLst[idx] == word :
      cnt += 1
  result[word] = cnt
print(result)

case05 -
{'play': 2, 'cat': 1, 'love': 1, 'house': 1, 'dog': 3, 'death': 1}

In [ ]:
items = {
    '메로나' : {'price' : 300 , 'qty' : 20},
}
print('data -' , items)

data - {'메로나': {'price': 300, 'qty': 20}}