<a href="https://colab.research.google.com/github/eun551/python/blob/main/basic/siat_python_day07_%ED%95%A8%EC%88%98def.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

교재 274 페이지
**함수**

In [ ]:
#함수
#행위를 정의하는 영역
msg = '섭섭이와 함께 오늘도 즐거운 하루!'

In [ ]:
def greetingMsg(message) :
  print(message)

  #정의와 실행은 다르다

In [ ]:
result = greetingMsg(msg)
print(result)

섭섭이와 함께 오늘도 즐거운 하루!
None

In [ ]:
greetingMsg(msg)

섭섭이와 함께 오늘도 즐거운 하루!

In [ ]:
def greetingMsg(message : str) : # 입력이 있다.
  print(message) # 반환이 없다.

276페이지
return
사용자들의.. 프론트를 통해 백엔드로 전달을 하기 때문에 백엔드는 못 보지만 return 을 통해 백엔드에서 프론트에 보여지게 한다.

In [ ]:
greetingMsg([1,2,3,4])

[1, 2, 3, 4]

In [ ]:
def printCoin() : # ()안에 입력이 없다.
  print('bitcoin') # 반환이 없다.

In [ ]:
printCoin()

bitcoin

In [ ]:
def returnMsg(name) : #입력이 있다.
  return '{}님 오늘도 즐거운 하루 되시길'.format(name) #return이라는 반환이 있다.

In [ ]:
a = returnMsg('섭섭이')
print(a)

섭섭이님 오늘도 즐거운 하루 되시길

In [ ]:
def noArg() : # 입력이 없다.
  return '쉬어갑시다~~~' # 반환이 있다.

In [ ]:
result = noArg()
print(result)

쉬어갑시다~~~

In [ ]:
# 함수를 정의해서 입력된 두 숫자 사이의
# 홀수의 합과 짝수의 합을 반환없이 출력하시오.
# 함수의 이름은 conutSum()

def countSum(x,y) :
  for i in range(x,y+1) :
    print(i%2==0,i%2==1)

In [ ]:
def countSum(start,end) : #함수정의

  evenSum = oddSum = 0

  for value in range(start,end+1) :
    if value % 2 == 0 :
      evenSum += value
    else :
      oddSum += value
  print('짝수의 합 {} , 홀수의 합 {}'.format(evenSum,oddSum))

In [ ]:
countSum(50,100) #호출

짝수의 합 1950 , 홀수의 합 1875

In [ ]:
countSum(100,1)

짝수의 합 0 , 홀수의 합 0

In [ ]:
def countSum(start,end) : #함수정의

  evenSum = oddSum = 0

  if start > end :
    tmp = start
    start = end
    end = tmp

  for value in range(start,end+1) :
    if value % 2 == 0 :
      evenSum += value
    else :
      oddSum += value
  print('짝수의 합 {} , 홀수의 합 {}'.format(evenSum,oddSum))

In [ ]:
countSum(100,1)

짝수의 합 2550 , 홀수의 합 2500

In [ ]:
# quiz
# 입력받은 문자열의 인터넷 주소를 반환하는 함수를 정의
# naver -> www.naver.com
# 함수이름 : makeUrl()

def makeUrl(name) :
  return 'www.{}.com'.format(name)

In [ ]:
result = makeUrl('naver')
print(result)

www.naver.com

In [ ]:
# calling
lst = ['naver','samsung','kakao','lg']



for x in lst :
  result = makeUrl(x)
  print(result)

www.naver.com
www.samsung.com
www.kakao.com
www.lg.com

In [ ]:
def makeUrl(lst) :
  result = []
  for name in lst :
    result.append('www.{}.com'.format(name))
  return result

In [ ]:
lst = ['naver','samsung','kakao','lg']

result = makeUrl(lst)
print(result)

['www.naver.com', 'www.samsung.com', 'www.kakao.com', 'www.lg.com']

In [ ]:
# quiz
# 숫자로 구성된 리스트를 입력받아서
# 짝수들을 추출하여 리스트로 반환하는 pickupEven() 함수를 구현하고
# 호출해보자

def pickupEven(lst = int(input("숫자 : "))) :

  lst = []
  for num in lst :
    if num % 2 == 0 :
      lst.append()
    print(lst)

숫자 : 50
50

In [ ]:
def pickupEven(lst) :
  return [ num for num in lst if num % 2 == 0 ]

In [ ]:
lst = [1,2,3,4,5,6,7]
result = pickupEven(lst)
print(result)

[2, 4, 6]

In [ ]:
# 가변매개변수 함수
def argTuple(*args) :
  pass

In [ ]:
# calling
argTuple('namver')
argTuple('namver','google')
argTuple('namver','google','samsung')
# * 가변매개변수는 튜플을 의미한다. 언패킹의

In [ ]:
def printFor(num, *args) :
  for idx in range(num) :
    print(args[idx])

In [ ]:
#calling
printFor(3,'namver','google','samsung')

namver
google
samsung

In [ ]:
def basicFunc(x, y=10) :  #기본 매개변수를 함수로 만들게 되면 인수와 매개변수의 수가 다르더라도 호출이 된다.
  print(x+y)

In [ ]:
basicFunc(1)

11

In [ ]:
# **가변매개변수는 인자로 딕셔너리를 받아서 처리한다.

def argDict(**kwargs) : #가변매개변수 중에 ** 2개는 딕셔너리 형식
  for key, value in kwargs.items() :
    print('key = {}, value = {}'.format(key,value))

In [ ]:
# { key : value }
# argDict({'name' : 'cho'},{'age' : '30'})
argDict(name='cho',age=30)

In [ ]:
leapLst = leapYear(1900,2025)
print(leapLst)

[1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024]

In [ ]:
# lambda 식  # p 322
# 이름 없는 함수
# 간단하게 (실행구문이 한줄) 작성할 수 있는 함수 활용
# lambda 인자 : 구현부
# 변수에 할당이 가능하다.

# if문 활용
# lambda 인자 : 구현부 (참) if (조건) else (거짓)   삼항연산자


# def add(x,y) :
#   return x + y


# 변수에 담아서 함수로 사용하기 보다는

add = lambda x, y : x + y
print('type - ', type(add))

type -  <class 'function'>

In [ ]:
result = add(10,20)
print(result)

30

In [ ]:
# map()
# 시퀀스 계열의 모든 요소에 함수를 적용한 결과를 반환할 때
# 리스트 요소에 각각 함수를 적용할 때, 람다와 맵을 이용하면 간결하게 사용.

lst = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
#quiz
# 리스트 각 요소에 2를 곱하고자 한다면?
# for x in lst :
#   print(x * 2)
result = list(map(lambda x : x * 2 , lst))
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# filter()
# 시퀀스 계열의 모든 요소 중 조건에 만족하는 요소만 반환

# lst에서 홀수만 반환하고 싶다.

result = list ( filter(lambda x : x % 2 == 1 , lst))
print(result)

[1, 3, 5, 7, 9]

In [ ]:
# sorted
# 정렬 ( 오름차순 )

lst = [5,4,3,2,1]
lst.reverse()
# print(lst.reverse())
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
result = sorted(lst)
print(result)

[1, 2, 3, 4, 5]

In [ ]:
lst = ['pineapple','banana','peach','cherry','watermelon']

# 문자열의 길이에 따라 정렬하고 싶다.

result = sorted(lst , key=lambda x : len(x))  # 핵심 : key
print(result)

['peach', 'banana', 'cherry', 'pineapple', 'watermelon']

In [ ]:
# functools - reduce()
# 누적적으로 곱셈한 결과를 반환

from functools import reduce

lst = [1,2,3,4,5]

result = reduce( lambda x, y : x * y , lst)
print(result)

120

In [ ]:
# lambda 인자 : 구현부 (참) if (조건) else (거짓)   삼항연산자

#quiz
# 입력된 숫자가 홀수인지를 판별하는 람다함수를 작성한다면?
# hint) print(isOdd(9))

a = int(input("숫자 : ") )

isOdd = lambda x : True if x % 2 == 1 else False

print(isOdd(a))

숫자 : 8
False

In [ ]:
# 재귀함수 (recursive function)  # 자기 자신으로 돌아간다
#  293 페이지

def userFactorial(n) :  # factorial 곱하는거
  output = 1

  for x in range (1 , n+1) :
    output *= x

  return output

In [ ]:
print('1! = ' , userFactorial(1))
print('2! = ' , userFactorial(2))
print('3! = ' , userFactorial(3))

1! =  1
2! =  2
3! =  6

In [ ]:
# 재귀함수 (recursive function)
#  294 페이지

def userFactorial(n) :  # factorial 곱하는거
  if n == 0 :
    return 1
  else :
    return n * userFactorial(n-1)

In [ ]:
print('1! = ' , userFactorial(1))
print('2! = ' , userFactorial(2))
print('3! = ' , userFactorial(3))

1! =  1
2! =  2
3! =  6

프로그래머스...

In [ ]:
def solution(numer1, denom1, numer2, denom2):
    answer = [ ]

    # 분모 같이 하기
    a = numer1 * denom2
    b = numer2 * denom1
    c = denom1 * denom2

    # 분자 더하기
    d = a + b

    # 약분하기



    # 결과 반환


    return answer

In [ ]:
def solution(array, commands) :
  answer= []

  i , j, k = a
  # i번째 숫자부터 j 숫자까지 자르기
  # i =2 , j= 5 라면 2번째부터 5번째까지
  for a in commands :
    slicedArray = array [i : j-1]
    # slicedArray = array [i-1 : j]

  # 오름차순 정렬
    sortedArray = sorted(slicedArray)

  # k 번째 숫자는?
    answer.append(sortedArray[k])
  return answer

In [ ]:
array = [1,5,2,6,3,7,4]
i = 2
j = 5
k = 3

a= array[i-1:j]
print(a)

b = sorted(a)
print(b)

print(b[k-1])

[5, 2, 6, 3]
[2, 3, 5, 6]
5

In [ ]:
array = [1,5,2,6,3,7,4]

In [ ]:
def solution(array, commands):
    answer = []
    for command in commands:
        i, j, k = command
        sliced_array = array[i-1:j]
        sorted_array = sorted(sliced_array)
        answer.append(sorted_array[k-1])
    return answer

In [ ]:
# 정수 배열 numbers가 매개변수로 주어집니다.
# numbers의 원소 중 두 개를 곱해 만들 수 있는 최댓값을 return하도록 solution 함수를 완성해주세요.
# -10,000 ≤ numbers의 원소 ≤ 10,000
# 2 ≤ numbers 의 길이 ≤ 100


def solution(numbers):
  answer = 0
  i = 0
  if i in range(len(numbers)) :
    for j in range(len(i+1 , len(numbers))) :
      answer = i * j

    return answer

In [ ]:
lst = [1, 2, -3, 4, -5]
num1 = max(lst) #음수는 포함이 안된다.
num2 = max(lst, key = abs)
print(num1)
print(num2)

if i in range(len(numbers)) :
  for j in range(len(i+1 , len(numbers)))

4
-5

In [ ]:
def solution(numbers):
  """
  정수 배열에서 두 숫자를 곱해 만들 수 있는 최댓값을 반환합니다.

  Args:
    numbers: 정수 배열.

  Returns:
    두 숫자의 곱으로 만들 수 있는 최댓값.
  """
  max_product = float('-inf')  # 최댓값을 저장할 변수, 초기값은 음의 무한대

  for i in range(len(numbers)):  # 첫 번째 숫자를 선택하는 반복문
    for j in range(i + 1, len(numbers)):  # 두 번째 숫자를 선택하는 반복문 (중복 방지)
      product = numbers[i] * numbers[j]  # 두 숫자의 곱 계산
      if product > max_product:  # 현재 곱이 이전 최댓값보다 큰 경우
        max_product = product  # 최댓값 갱신

  return max_product  # 최댓값 반환

# 예시
numbers = [1, 2, 3, 4, 5]
max_product = solution(numbers)
print(max_product)  # 출력: 20 (4 * 5)