<a href="https://colab.research.google.com/github/eun551/python/blob/main/basic/siat_python_day04_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 파이썬의 사용자 입력함수
# input()  :  STR 문자열을 반환.
# 문자열 정수 INPUT(10)
print('이름을 입력하세요 : ')
name = input()  # 내가 입력하는 것.
print('name - ' , name , type(name))

이름을 입력하세요 :
cho
name -  cho <class 'str'>

In [ ]:
name = input('이름을 입력하세요 : ')
print('name - ' , name , type(name))
age = int(input('나이를 입력하세요 : '))
print('age - ' , age , type(age))
height = float(input('키를 입력하세요 : ')) #실수값
print('height - ' , height , type(height))

이름을 입력하세요 : cho
name -  cho <class 'str'>
나이를 입력하세요 : 30
age -  30 <class 'int'>
키를 입력하세요 : 161
height -  161.0 <class 'float'>

In [ ]:
# boolean type
# 파이썬만의 문법
# True | False
# ' ' , [ ] , ( ) , { } , 0 , None -> 비어있으면, False로 인식한다.

tmpLst = []
tmpStr = ''
print('boolean - ' , bool(tmpLst), bool(tmpStr))

tmpLst = [0]
tmpStr = 'book'
print('boolean - ' , bool(tmpLst), bool(tmpStr))

boolean -  False False
boolean -  True True

In [ ]:
isFlag = True # 앞에 is 가 있으면 데이터가 아닌 논리값을 담는 것이다.
print('boolean casting - ' , int(isFlag))

isFlag = False
print('boolean casting - ' , int(isFlag))

boolean casting -  1
boolean casting -  0

In [ ]:
# boolean - 논리연산자(not, and, or) , 비교연산자 (&,|,~)
x = 5 #0101
y = 0 #0000
print(x & y , bool(x&y)) # x 이고 y
# 0101
# 0000
# 각각 자리를 비교하여 정확하게 일치를 해야 True가 나온다.
# 하지만 일치하지 않으니 0 과 false가 나왔다.
print(x | y , bool(x|y)) # x 또는 y
# 각각 자리를 비교했을 때 하나라도 다르면 True가 나온다.

0 False
5 True

In [ ]:
x = True
y = False
print(x & y , int(x&y))
print(x | y , int(x|y))

False 0
True 1

In [ ]:
# 제어구문
# if 조건식 :
# 들여쓰기(indent)

tmpLst = [1] #true
if tmpLst :
  print('pass')
else :
  print('fail')

pass

In [ ]:
tmpLst = [] #false
if tmpLst :
  print('pass')
else :
  print('fail')

fail

In [ ]:
# Quiz
# input()함수를 이용해서 사용자의 점수를 입력받고 60점 이상이면 패스 아니면 과락

a=input('사용자의 점수를 입력하시오.')

if int(a) >= 60 :
  print("패스")
else :
  print("과락")

# if int(input('사용자의 점수를 입력하시오.')) >= 60 :

사용자의 점수를 입력하시오.59
과락

In [ ]:
# Quiz
# region 이 areas 에 있는 지역인지, 아닌지를 판단하고 싶다면?
# if ~ in
# 파이썬만 가능. 자바는 쓸 수가 없다.

areas = ['서울','부산','서산','광주']
region = '수원'

if region in areas :
  print("yes")
else :
  print("no")

no

In [ ]:
# Quiz
# region 이 areas 에 키로 존재하는지를 판단하고 싶다면?
# if~in

areas = {'서울': 100 , '부산' : 200 ,'서산' : 300 ,'광주' : 400} #순서가 없다.
region = '부산'

if region in areas :
  print("존재한다")
else :
  print("존재하지 않는다.")

존재한다

In [ ]:
# Quiz
# 윤년(Leap Year)
# 4의 배수이고 100의 배수가 아니거나 400의 배수일 때
# %  , ==
# input 함수를 이용해서 년도를 입력받고
# 해당년도가 윤년인지 아닌지를 판단하고 싶다면?

year=int(input('해당 년도를 입력하세요 : '))

# != 같지 않다.
# not은 반대를 말한다. True 의 not은 False

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0) :
  print("윤년")
else :
  print("평년")

해당 년도를 입력하세요 : 2065
평년

In [ ]:
# Quiz
# input 함수를 이용해서 년도와 월을 입력받아 해당년도가 윤년일 경우
# 2월달의 마지막은 29일, 평년의 마지막은 28일
#출력 예시 ) xxxx년 xx월 마지막일은 xx일 입니다.


a = int(input("몇년입니까?"))
b = int(input("몇월입니까?"))


if (a % 4 == 0 and a % 100 != 0) or (a % 400 == 0) :
  #년도가 윤년이면 달에서.
  if b == 1 or b == 3 or b == 5 or b == 7 or b == 8 or b == 10 or b == 12 :
    print(a ,"년" ,b ,"월" , "마지막일은 31일 입니다.")
  elif b == 4 or b == 6 or b == 9 or b == 11 :
    print(a ,"년" ,b , "월" , "마지막일은 30일 입니다.")
  else :
    print(a ,"년" ,b , "월" , "마지막일은 29일 입니다.")
else :
  #년도가 평년이면 달에서.

SyntaxError: invalid syntax (<ipython-input-66-e96d7dfb9ecd>, line 15)

In [ ]:
# Quiz
# input 함수를 이용해서 년도와 월을 입력받아 해당년도가 윤년일 경우
# 2월달의 마지막은 29일, 평년의 마지막은 28일
#출력 예시 ) xxxx년 xx월 마지막일은 xx일 입니다.


year = int(input("년도 입력 : "))
month = int(input("월 입력 : "))
# print('년도 : {} , 월 : {}'.format(year,month))
# print()
yearMonth = [31,28,31,30,31,30,31,31,30,31,30,31]
leapMonth = [31,29,31,30,31,30,31,31,30,31,30,31]

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0) :
  print("{}년 {}월 마지막일은 {}일 입니다.".format(year,month,leapMonth[month-1]))
else :
  print("{}년 {}월 마지막일은 {}일 입니다.".format(year,month,yearMonth[month-1]))

년도 입력 : 2024
월 입력 : 2
2024년 2월 마지막일은 29일 입니다.

In [ ]:
# Quiz
# input 함수를 이용해서 년도와 월을 입력받아 해당년도가 윤년일 경우
# 2월달의 마지막은 29일, 평년의 마지막은 28일
#출력 예시 ) xxxx년 xx월 마지막일은 xx일 입니다.


year = int(input("년도 입력 : "))
month = int(input("월 입력 : "))
# print('년도 : {} , 월 : {}'.format(year,month))
# print()
months = [31,28,31,30,31,30,31,31,30,31,30,31]


if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0) :
  print("{}년 {}월 마지막일은 {}일 입니다.".format(year,month,months[month-1]+1))  # 28+1=29
else :
  print("{}년 {}월 마지막일은 {}일 입니다.".format(year,month,months[month-1]))

년도 입력 : 2024
월 입력 : 2
2024년 2월 마지막일은 29일 입니다.

In [ ]:
year = int(input("년도 입력 : "))
month = int(input("월 입력 : "))
# print('년도 : {} , 월 : {}'.format(year,month))
# print()
months = [31,28,31,30,31,30,31,31,30,31,30,31]


if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0) :
  if month == 2 :
    print("{}년 {}월 마지막일은 {}일 입니다.".format(year,month,months[month-1]+1))
  else :
    print("{}년 {}월 마지막일은 {}일 입니다.".format(year,month,months[month-1]))
else :
  print("{}년 {}월 마지막일은 {}일 입니다.".format(year,month,months[month-1]))

년도 입력 : 2024
월 입력 : 2
2024년 2월 마지막일은 29일 입니다.

In [ ]:
year = int(input("년도 입력 : "))
month = int(input("월 입력 : "))
# print('년도 : {} , 월 : {}'.format(year,month))
# print()
months = [31,28,31,30,31,30,31,31,30,31,30,31]


if (year % 4 == 0 and year % 100 != 0) :
  if month == 2 :
    print("{}년 {}월 마지막일은 {}일 입니다.".format(year,month,months[month-1]+1))
  else :
    print("{}년 {}월 마지막일은 {}일 입니다.".format(year,month,months[month-1]))
elif (year % 400 == 0) :
  pass
else :
  print("{}년 {}월 마지막일은 {}일 입니다.".format(year,month,months[month-1]))

년도 입력 : 2024
월 입력 : 2
2024년 2월 마지막일은 29일 입니다.

In [ ]:
# 중첩 조건문
# 등급이 A이고 평균이 95점 이상이면 장학금을 100% , 이하면 90% 장학금

grade = 'A'
avg = 91

if grade == "A" :
  if avg >= 95 :
    print("장학금 100%")
  else :
    print("장학금 90%")

장학금 90%

In [ ]:
# 다중 조건
# if ~ elif ~ elif ~ elif ~ else
# Quize
# 학생의 총점을 입력받아서  100~85 이면 우수, 84~70이면 보통, 69 이하면 노력

score = int(input("총점을 적으세요."))
if 85 <= score <= 100 :
  print("우수")
elif 70 <= score <= 84 :
  print("보통")
else :
  print("노력")

총점을 적으세요.69
노력

In [ ]:

score = int(input("총점을 적으세요."))
grade = ''

if score >= 85 and score <=100 :
  grade='우수'
elif 70 <= score <= 84 :
  grade='보통'
else :
  grade='노력'

print('당신의 점수는 %d점 이고, %s 입니다.' % (score,grade))  # %d 정수 %f 실수 %s 문자열

총점을 적으세요.80
당신의 점수는 80점 이고, 보통 입니다.

In [ ]:
# Quize
# 학생의 학점과 점수를 입력받아서  A학점 이면서 90 이상이면 장학금 100%, A학점 이면서 80 이상이면 장학금 80%, A학점 이면서 80 미만이면 장학금 70%,
# A학점이 아니면 장학금 50%

grade = input("학점")
score = int(input("점수"))

if grade == "A" :
  if score >= 90 :
    print("장학금 100%")
  elif score >= 80 :
    print("장학금 80%")
  else :
    print("장학금 70%")
else :
  print("장학금 50%")

학점B
점수50
장학금 50%

In [ ]:
grade = input("학점")

if grade == "A" :
  if int(input("점수")) >= 90 :
    print("장학금 100%")
  elif int(input("점수")) >= 80 :
    print("장학금 80%")
  else :
    print("장학금 70%")
else :
  print("장학금 50%")

학점B
장학금 50%

In [ ]:

data = 9
if data >= 5 :
  result = data * 2
else :
  result = data + 2
print('result - ', result)

result -  18

In [ ]:
# 삼항연산자
# 조건식, 참, 거짓
# 형식)  참 if (조건식) else 거짓

result = data * 2 if data >= 5 else data + 2
print('삼항연산자 - ', result)

삼항연산자 -  18

In [ ]:
# if ~ in 구문

#Quiz
tmpDict = {
    'name' : 'cho' ,
    'city' : 'seoul' ,
    'gender' : 'female'
}

#제공되는 데이터타입에서 이름이 'cho' 인 데이터가 있다면 ok 없으면 fail 출력

result = 'ok' if 'cho' in tmpDict["name"] else 'fail'
print(result)

ok

In [ ]:
# keys() , valuse() , items() 함수명을 가진다.

if 'CHO' in tmpDict.values() :
  print('ok')
else :
  print('fail')

fail

In [ ]:
if 'CHO'.lower() in tmpDict.values() :
  print('ok')
else :
  print('fail')

ok