<a href="https://colab.research.google.com/github/eun551/python/blob/main/basic/siat_python_day05_%EB%AA%A8%EB%93%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 날짜타입
# 함수는 라이브러리 에 들어있다.
# 서브 파트 라이브러리 (외부)
# conda install 구문 (아나콘다)
# pip (numpy)  install 구문 (import)
# 인스톨 과정을 통해서 library  설치 할 수 있다.
# 형식) import 모듈이름
# 모듈은 하나의 파일. 패키지로 엮어줘야 한다.
# 함수 < 모듈 < 패키지
# 형식) from 패키지명 import 모듈
# 형식) from 모듈이름 import 함수 또는 클래스
# 자바는 import 정형화 되어 있다.
# 파이썬은 애매하다.

#가져 오는 형식을 이해하자.

In [ ]:
# 형식) import 모듈이름
# 형식) from 패키지명 import 모듈
# 형식) from 모듈이름 import 함수 또는 클래스

In [ ]:
today()

NameError: name 'today' is not defined

In [ ]:
from datetime import date, datetime
# 앞의 datetime이 패키지일 수 있고, 모듈일 수도 있다.

In [ ]:
# 패키지. 모듈
nowDay = date.today()
print(nowDay)
print("type - " , type(nowDay))

# from datetime import date, datetime
# datetime 모듈. date 클래스. datetime 클래스.

2025-01-23
type -  <class 'datetime.date'>

In [ ]:
nowDay = today()
print(nowDay)
print("type - " , type(nowDay))

NameError: name 'today' is not defined

In [ ]:
# 클래스는 변수와 함수 or 메서드를 가지고 있다. 함수(독립적인 실행이 가능)와 메서드(독립적인 실행이 불가능).
nowDay = today()  # 독립적인 실행이 안되므로 메서드.
print(nowDay)

NameError: name 'today' is not defined

In [ ]:
print("년 - ", nowDay.year) #nowDay.year는 변수. ()괄호가 없으니 변수.
print("월 - ", nowDay.month)
print("일 - ", nowDay.day)

년 -  2025
월 -  1
일 -  23

In [ ]:
nowDateTime = datetime.today()
print(nowDateTime)
print("시 - ", nowDateTime.hour) #9시가 0시로 나오네.
print("분 - ", nowDateTime.minute)
print("초 - ", nowDateTime.second)

2025-01-23 07:38:35.581630
시 -  7
분 -  38
초 -  35

In [ ]:
# 날짜타입에 대한 연산이 가능할까?
print(nowDay + 1)

TypeError: unsupported operand type(s) for +: 'datetime.date' and 'int'

In [ ]:
from datetime import date, datetime, timedelta
# timedelta 날짜 연산을 도와준다.함수처럼 사용가능.

days = timedelta(days =- 1)
print( nowDay + days )

2025-01-19

In [ ]:
# months = timedelta(months =- 2)
# print( nowDay + months)
# TypeError: 'months' is an invalid keyword argument for __new__()

# timedelta 는 날짜 day만 가능하다.

from dateutil.relativedelta import relativedelta
#     패키지.모듈                  함수
# relativedelta 년이나 월 연산을 도와준다.
months = relativedelta(months =+ 2)
print('month - ' , nowDay + months)

month -  2025-03-20

In [ ]:
from dateutil.parser import parse
# 패키지.패키지  모듈
# 패키지.모듈  함수 : parse는 함수명이므로, 이것이다.

In [ ]:
str = '2025-01-20'
print('type - ', type(str))
# 문자열은 몇일 후, 몇달 전 연산이 안된다.
# 날짜 타입으로 만들어야 한다.
# parse() : 문자열을 날짜타입으로 변환해주는 함수
today = parse(str)
print('type - ', type(today))

type -  <class 'str'>
type -  <class 'datetime.datetime'>

In [ ]:
# 관계연산자 종류
# > , >= , <= , < , == , !=

x = 15
y = 10

print( x == y )
print( x != y )
print( x > y )
print( x >= y )
print( x <= y )
print( x < y )

False
True
True
True
False
False

In [ ]:
# 우선 순위 : 산술 > 관계 > 비교
# 소괄호를 통해서 우선 순위를 만들어주자.

print( 3 + 12 > 7 + 3)
print( (3 + 12) > (7 + 3) )

True
True

In [ ]:
score = 90
grade = "A"

#복수의 조건이 모두 참일 경우 실행하게 조건을 만들고 싶다면?
if score >= 90 and grade == "A" :
#      관계    비교   관계
#       T      비교      T
  print("Pass")
else :
  print("Fail")

Pass

In [ ]:
admin = 'admin'
grade = ['platinum','gold']

# 어드민의 권한이 두가지가 있다.
# 플래티넘이면 최상위 관리자
# 그렇지 않으면 일반관리자로 구분하고 싶다면?

In [ ]:
for data in grade :
  print(data)

platinum
gold

In [ ]:
for data in grade :
  if admin == 'admin' and data == 'platinum' :
    print("최상위 관리자")
  else :
    print("일반관리자")

최상위 관리자
일반관리자

반복구문 (코팅의 핵심)

루프문

**for ~ in 열거형변수** (순서가 있는 변수타입 , list, tuple, 문자) :

In [ ]:
# 반복구문 (코팅의 핵심)
# 루프문
# for ~ in 열거형변수 (순서가 있는 변수타입 , list, tuple, 문자) :

print('case01 - ')
for idx in range(0,10) :
  # print('반복문')
  print('index {} - 반복문'.format(idx))

case01 -
index 0 - 반복문
index 1 - 반복문
index 2 - 반복문
index 3 - 반복문
index 4 - 반복문
index 5 - 반복문
index 6 - 반복문
index 7 - 반복문
index 8 - 반복문
index 9 - 반복문

In [ ]:
# Quiz
# input 함수를 이용해서 10명의 성적을 입력받고
# 입력된 10명의 성적을 출력하고 싶다면?

# a = input("성적을 입력하시오. ")
# print('성적 - ', a)

score = []

for x in range(0,3) :
  x = input("성적을 입력하시오. ")
  # print('성적 - ', x)
  score.append(x)
print('score - ',score)

성적을 입력하시오. 50
성적을 입력하시오. 60
성적을 입력하시오. 80
score -  ['50', '60', '80']

In [ ]:
scores = []

for x in range(0,5) :
  scores.append(int(input("성적 입력")))
print()
for score in scores :
  print(score,end="\t")

성적 입력50
성적 입력60
성적 입력50
성적 입력80
성적 입력90

50	60	50	80	90

In [ ]:
scores = []

for idx in range(10) :
  scores.insert(idx,int(input("성적 입력 ")))
print()
for idx in range( len(scores) ) :
  print(scores[idx],end="\t")

성적 입력 50
성적 입력 60
성적 입력 80
성적 입력 50
성적 입력 40
성적 입력 100
성적 입력 50
성적 입력 60
성적 입력 80
성적 입력 10

50	60	80	50	40	100	50	60	80	10

In [ ]:
# Quiz
# 입력받은 점수의 총합과 평균을 구하시오.

print('scores - ', scores)

scoresSum = 0
for score in scores :
  scoresSum += score
print('scoresSum - ', scoresSum)

# scoresAvg = 0
# for score in scores :
  # scoresAvg += score / len(scores)
scoresAvg = scoresSum / len(scores)
print('scoresAvg - ', scoresAvg)

print('성적의 총합은 {}이고, 성적의 평균은 {}입니다.'.format(scoresSum,int(scoresAvg)))

scores -  [50, 60, 50, 80, 90]
scoresSum -  330
scoresAvg -  66.0
성적의 총합은 330이고, 성적의 평균은 66입니다.

In [ ]:
# 반복구문 중 특정 조건에 만족했을 때
# 반복구문을 빠져나와야 하는 상황이라면? - break
# 특정 조건만 스킵하고 계속 루프 돌린다. - continue

# Quiz
# input 함수를 이용해서 강아지의 이름을 입력받다가
# 강아지 이름이 '아토'가 입력되면 입력을 멈추고
# 입력된 강아지 이름을 출력하시오.

dogNames = []
for idx in range(10) :
  name = input("강아지 이름 입력 : ")
  if name == '아토':
    break
  else :
    dogNames.append(name)
print(dogNames)

강아지 이름 입력 : 복돌
강아지 이름 입력 : 나나
강아지 이름 입력 : 아토
['복돌', '나나']

 몇개 입력 받으란 말이 없네?

 무한대로 입력 -> 컴퓨터가 문제가 생긴다.

**while (조건식) :**

조건의 변화(증감, 불리언 값의 변화 true false)

In [ ]:
pets = []
isFlag = True #변수는 루프 실행을 관리하는 제어 플래그 또는 센티넬 변수isFlag 역할을 합니다 .
while isFlag :
  name = input("강아지 이름 입력 : ")
  if name == '아토':
    isFlag = False
    break
  else :
    pets.append(name)
print(pets)

강아지 이름 입력 : 백상
강아지 이름 입력 : 아토
['백상']

In [ ]:
# 구구단의 3단만 출력하시오.
# 시작을 알고 끝을 알면 for 구문
for x in range(1,10) :
  # if x % 2 != 0 :
    print ('3 * {} = {}'.format(x,3*x))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
dan = 3
for value in range(1,10) :
  print ('{} * {} = {}'.format(dan,value,(dan*value)))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
# 구구단의 3단에서 값이 홀수 인 것만 출력하세요.
dan = 3
for value in range(1,10) :
  if (dan*value) %2 == 1 :
    print ('{} * {} = {}'.format(dan,value,(dan*value)))

3 * 1 = 3
3 * 3 = 9
3 * 5 = 15
3 * 7 = 21
3 * 9 = 27

In [ ]:
# Quiz
# 월드컵은 4년에 1번 개최된다.
# 2002년 이후 월드컵이 개최된 년도를 출력하시오.

for year in range (2002,2026,4):
  print(year)

2002
2006
2010
2014
2018
2022

In [ ]:
# lterables 자료형 반복
# 함수 : range(), reversed(), enumerate(), filter(), map(), zip()

In [ ]:
# quiz
# 파일 이름이 저장된 리스트에서
# 확장자를 제거하고 파일 이름만 출력하시오.
# 리스트이기 때문에 반복구문 가능
# 도트를 기준

lst = ['hello.py','ex01.py','siat.hwp','intro.doc']

for file in lst :
  # print(file ,type(file))
  print(file.split('.')[0]) #도트 기준으로 나누어진다.


result = [file.split('.')[0]for file in lst]
print(result)

hello
ex01
siat
intro
['hello', 'ex01', 'siat', 'intro']

In [ ]:
# quiz
# 파일 이름이 저장된 리스트에서
# 첫 글자를 대문자로 변경해서 출력하시오.

# lst[0][0]
# upper 함수
for name in lst :
 # print(name)
 print(name[0].upper() + name[1:])

hello.py
<built-in method upper of str object at 0xa4c0e8>
Hello.py
ex01.py
<built-in method upper of str object at 0xa4c040>
Ex01.py
siat.hwp
<built-in method upper of str object at 0xa4c350>
Siat.hwp
intro.doc
<built-in method upper of str object at 0xa4c120>
Intro.doc

In [ ]:
for name in lst :
  print(name.capitalize())
  # 전체 문자열의 앞 글자만 대문자로 바꾼다
  # 똑같이 .title() 이 있다.
  #-> 공백, 숫자, 특수문자를 기준으로 문자열을 구분하여 각 문자열의 첫 글자를 대문자로 바꾼다.

Hello.py
Ex01.py
Siat.hwp
Intro.doc

In [ ]:
word = 'beautiful'

for w in word :

  if w == 't' :
    print(w, end='\t')

t

In [ ]:
word = 'beautiful'

for w in word :

  if w == 't' :
    break
  print(w, end='\t')

b	e	a	u

In [ ]:
tmpDict = {
    'name' : 'jslim',
    'age' : 20,
    'city' : 'seoul'
}



for key in tmpDict.keys() :
  print(tmpDict[key])

jslim
20
seoul

In [ ]:
# quiz
# 제공되는 문자열을 모두 대문자로 출력하시오.
# isupper() , upper()
# 반복구문 안에서 해결

fruitName = 'PineApple'

for name in fruitName :
  # print(name)
  #소문자만 대문자로
  if name.isupper() :
    print(name ,end='')
  else :
    print(name.upper() ,end='')

PINEAPPLE

In [ ]:
print("Hello", end='')
print("World")

HelloWorld

In [ ]:
print("Name", end='\t')
print("Age")

Name	Age

end='': 기본 줄바꿈 문자를 억제하여 이후 print()출력이 같은 줄에 계속되도록 합니다.

end='\t': 탭 문자를 끝에 인쇄하여 수평 공간을 만들고 종종 열의 텍스트 서식을 지정하는 데 사용됩니다.

In [ ]:
# for ~ in 변수 :
# else :

# else가 for 구문에 있다. 파이썬에만 쓰는 구문
# 루프의 마지막까지 찾았지만 없는 경우 else 구문 수행
# 주의) for 구문안에 break를 실행하지 않을 때만 수행. break를 하게 되면 else 구문도 빠져나가게 된다.

In [ ]:
# 만약 45 값을 찾고 싶다면?
numbers = [14, 3, 4, 7, 10, 24]

for n in numbers :
  if n == 45 :
    print('Found')
    break
else :
  print('Not Found')

# else가 if 구문 안에 있으면 numbers 리스트 수 만큼 Not Found가 나온다.

Not Found

In [ ]:
# 1~ 10 사이의 난수를 생성하고 숫자를 맞춰보자.
# guess game
# == , > , <
from random import randint
# 지정된 범위 내에서 난수 정수를 생성하는 데 사용됩니다.
# 90프로 정도가 from 모듈 import 함수
answer = randint(1,10)
print('answer - ', answer)

answer -  3

In [ ]:
# 1~ 100 사이의 난수를 생성하고 숫자를 맞춰보자.
# 시도횟수는 10번으로 제한  -> input 함수
# 출력형식) x번째 정답을 맞췄습니다.
# 출력형식) x번째 정답을 맞추지 못했습니다.
# 반복구문은 for, while

from random import randint
answer = randint(1,100)
print('answer - ', answer)

n = input('시도횟수는 {} 남았습니다.'.format(10-n))

for x in range(1,11) :
  if n == answer :
    print('{}번째 정답을 맞췄습니다.'.format(x))
else :
    print('정답을 맞추지 못했습니다.')
print(x)

answer -  90
정답을 맞추지 못했습니다.
10

In [ ]:
from random import randint
answer = randint(1,100)
print('answer - ', answer)

for idx in range(10) :
  guess = int(input('1~100 사이의 숫자를 입력 : '))
  if guess == answer :
    print('{}번째에 정답을 맞췄습니다. 정답은 {}'.format(idx+1,answer))
    break
  elif guess > answer :
    print('Down')
  else :
    print('Up')
else :
  print('정답을 맞추지 못했습니다.')

answer -  56
1~100 사이의 숫자를 입력 : 20
Up
1~100 사이의 숫자를 입력 : 60
Down
1~100 사이의 숫자를 입력 : 50
Up
1~100 사이의 숫자를 입력 : 55
Up
1~100 사이의 숫자를 입력 : 56
5번째에 정답을 맞췄습니다. 정답은 56

In [ ]:
from random import randint

answer = randint(1, 100)
print('answer - ', answer)

idx = 0  # Initialize the counter
while idx < 10:
    guess = int(input('1~100 사이의 숫자를 입력 : '))
    if guess == answer:
        print('{}번째에 정답을 맞췄습니다. 정답은 {}'.format(idx + 1, answer))
        break
    elif guess > answer:
        print('Down')
    else:
        print('Up')
    idx += 1  # Increment the counter
else:
    print('정답을 맞추지 못했습니다.')