<a href="https://colab.research.google.com/github/eun551/python/blob/main/basic/siat_python_day06_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

코딩은 빨리 푸는게 아니다.

**천천히 생각을 가지고 푸는 것이다.**

프로그램은 2가지

변수 , 함수

range()

반복구문.

In [ ]:
# 이중 루프구문
# 구조 이해를 해야 한다! 행과 열

# 구구단 작성
for i in range(2, 10) : #행
  print('>>> row = {}'.format(i))
  for j in range(1,10) : #열
    # print(j, end="\t")
    print('{} * {} = {}'.format(i,j,(i*j)) ,end ="\t")
  print()

>>> row = 2
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
>>> row = 3
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
>>> row = 4
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
>>> row = 5
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
>>> row = 6
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
>>> row = 7
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
>>> row = 8
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
>>> row = 9
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [ ]:
# 구구단 작성
# 5단을 제외하고 출력한다면?

for i in range(2, 10) :
  if i == 5 :
    continue
  print('>>> row = {}'.format(i))
  for j in range(1,10) :
    print('{} * {} = {}'.format(i,j,(i*j)) ,end ="\t")

  print()

>>> row = 2
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
>>> row = 3
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
>>> row = 4
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
>>> row = 6
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
>>> row = 7
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
>>> row = 8
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
>>> row = 9
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [ ]:
# 5단까지만 출력한다면?
for i in range(2, 10) :
  # if i == 5 :
  #   break
  # 여기에 놓을 경우 4단까지만 나온다.
  print('>>> row = {}'.format(i))
  for j in range(1,10) :
    print('{} * {} = {}'.format(i,j,(i*j)) ,end ="\t")
  if i == 5 :
    break
  print()

>>> row = 2
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
>>> row = 3
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
>>> row = 4
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
>>> row = 5
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45

In [ ]:
# lst = [[], [], []]

# 제공되는 데이터를 이중 루프구문을 이용하여
# 행과 열의 값을 2차원 테이블 형태로 출력하시오.

lst = [[1,2,3], [4,5,6,7], [8,9],[10,11,12,13,14]]

for i in lst:
  # print(i)
  for j in i :
    print(j, end= "\t")
  print()

1	2	3
4	5	6	7
8	9
10	11	12	13	14

In [ ]:
# 값이 아닌 인덱스를 가지고 꺼낸다.
# range에 len의 함수를 이용하자.

for i in range(len(lst)) :
  # print(i)
  for j in range(len(lst[i])) :
    # print(j)
    print(lst[i][j],end="\t")
  print()

1	2	3
4	5	6	7
8	9
10	11	12	13	14

In [ ]:
# 인덱스를 이용해서 9을 찾고
# 9 밑에 있는 11의 값을 출력하시오.

for i in range(len(lst)) :
  for j in range(len(lst[i])) :
    if lst[i][j] == 9 :
      print('find-',lst[i+1][j])
  print()

  # 숫자 9는 lst[2][1]

find- 11

In [ ]:
# 문자열 루프구문
str = 'siat'
for char in str :
  print(char, end="\t")
print()
for idx in range(len(str)) :
  print(str[idx], end="\t")

s	i	a	t
s	i	a	t

In [ ]:
string = \
'''

'''

여러 줄 문자열 생성: 여러 줄에 걸쳐 있는 텍스트를 하나의 문자열 변수에 담을 수 있습니다.

줄 바꿈 유지: 문자열 내의 줄 바꿈이 그대로 유지됩니다

In [ ]:
string = \
'''저는 파이썬을 공부하고 있는 은영입니다.
주소는 서울 입니다.
씨앗에서 교육중 입니다.'''

print(string)

저는 파이썬을 공부하고 있는 은영입니다.
주소는 서울 입니다.
씨앗에서 교육중 입니다.

In [ ]:
#Quize
# 주어진 문자열에서 문장과 단어를 출력하시오.
# 문자의 갯수, 단어의 갯수도 출력
# 출력예시) 문장들, 문장의 갯수
# 출력예시) 단어들, 단어의 갯수
# p 함수


for sentence in string.split('\n') :
  print(sentence)

print()

for word in string.split(' ') :
  print(word)

저는 파이썬을 공부하고 있는 은영입니다.
주소는 서울 입니다.
씨앗에서 교육중 입니다.

저는
파이썬을
공부하고
있는
은영입니다.
주소는
서울
입니다.
씨앗에서
교육중
입니다.

In [ ]:
sentences = []
words = []

for sentence in string.split('\n') : #줄바꿈을 기준으로 나눈다.
  sentences.append(sentence)
  for word in sentence.split(' ') : #공백을 기준으로 나눈다.
    words.append(word)

print((sentences),len(sentences))
print((words),len(words))

['저는 파이썬을 공부하고 있는 은영입니다.', '주소는 서울 입니다.', '씨앗에서 교육중 입니다.'] 3
['저는', '파이썬을', '공부하고', '있는', '은영입니다.', '주소는', '서울', '입니다.', '씨앗에서', '교육중', '입니다.'] 11

In [ ]:
# quiz
# 분류정확도를 구해보고싶다.
# 주어진 두개의 변수를 이용해서 예측결과 %로 출력하시오.
# 출력형식) 분류정확도는 60% 입니다.
answer = [1,2,0,2,1,0,0,1,2,1]
predict = [2,2,1,2,1,1,0,1,2,0]

#answer 와 predict의 숫자를 각각 비교해서 true 인것만 출력

for i in answer :
  print (i,end="\t")

print()
for j in predict :
  print (j,end="\t")

    # if i == j :
    #   print('true')
    # else :
    #   print('false')

1	2	0	2	1	0	0	1	2	1
2	2	1	2	1	1	0	1	2	0

In [ ]:
answer = [1,2,0,2,1,0,0,1,2,1]
predict = [2,2,1,2,1,1,0,1,2,0]

cnt= 0

# answer[0] == predict[0]
# answer[1] == predict[1]
for idx in range(len(answer)) :
  if answer[idx] == predict[idx] :
    cnt += 1  #개수를 더해라.
print()
print('분류정확도는 {}% 입니다.'.format( cnt / len(answer) * 100))

분류정확도는 60.0% 입니다.

In [ ]:
# 루프 구문 (while~)
# 구문형식)
# while <expr> :
#   <statement>
#   조건의 변화가 있어야 한다.

In [ ]:
#quize
# while 구문을 이용해서 '반복문'을 10번 출력하고 싶다면?

cnt = 0
while cnt < 10 :
  print('반복문')
  cnt += 1

반복문
반복문
반복문
반복문
반복문
반복문
반복문
반복문
반복문
반복문

In [ ]:
# quize
# while 구문을 데이터 출력
lst = ['foo','bar','baz']
while lst :
  print(lst.pop(0))

foo
bar
baz

In [ ]:
lst = ['foo','bar','baz']
idx = 0
while idx < len(lst) :
  print(lst[idx])
  idx += 1

foo
bar
baz

In [ ]:
#quiz
# 아래 구문을 이용해서 데이터를 출력한다면?
lst = ['foo','bar','baz']
isFlag = True
while isFlag :

  if not lst :
    isFlag = False
    break
  print( lst.pop() )

baz
bar
foo

In [ ]:
lst = ['foo','bar','baz']
isFlag = True
while isFlag :
  print( lst.pop() )
  if not lst :
    isFlag = False

baz
bar
foo

In [ ]:
# while (break, coninue)
# 0 ~ 9 까지 반복하면서
# 3을 만나면 계속 반복하고
# 6을 만나면 반복문을 탈출하여 현재까지 진행된 데이터를 출력하시오


a = 0
while a <= 9 :
  print(a)
  a += 1
  if a == 3 :
    continue
  elif a == 6 :
    break

0
1
2
3
4
5

In [ ]:
a = 0
while a <= 9 :
  if a == 3 :
    continue # 여기서 빠져서 while a <= 9 : 로 되돌아가기 때문에 무한루프가 된다.
  print(a)
  a += 1

In [ ]:
a = 0
while a <= 9 :
  if a == 3 :
    a += 1
    continue
  if a == 6 :
    break
  print(a)
  a += 1

0
1
2
4
5

In [ ]:
# while ~ else
# 리스트에 없는 데이터를 찾고자 할 때 '데이터가 없습니다' 메시지를 출력

lst = ['foo','bar','baz']
while idx < len(lst) :
  if lst[idx] == 'cho' :
    break
  idx +=
  print('데이터가 없습니다.')

데이터가 없습니다.

In [ ]:


lst = ['foo','bar','baz']
while idx < len(lst) :
  if lst[idx] == 'foo' : #조건틀
    print('데이터를 찾았습니다.')
    break
  idx += 1 #증감
else :
  print('데이터가 없습니다.')

# 3가지에 초점을 맞춰라.
  #조건틀
  #증감
  #초기화

데이터가 없습니다.

In [ ]:

lst = ['foo','bar','baz']
idx = 0  #초기화
while idx < len(lst) :
  if lst[idx] == 'foo' : #조건틀
    print('데이터를 찾았습니다.')
    break
  idx += 1 #증감
else :
  print('데이터가 없습니다.')

데이터를 찾았습니다.

In [ ]:
# while 무한반복
# input() 함수를 이용해서 숫자 입력받는다.
# 입력받는 숫자의 값이 0이면 무한반복을 탈출하고
# 입력된 숫자를 출력하시오.

num = input ("숫자 입력 : ")
# print(num)
while num :
  if num == 0 :
    break

숫자 입력 : 50
50

In [ ]:
while True :
  num = int(input ("숫자 입력 : "))
  if num == 0 :
    break
  else :
    lst.append(num)
print()
print(lst)

숫자 입력 : 50
숫자 입력 : 60
숫자 입력 : 10
숫자 입력 : 0

['foo', 'bar', 'baz', 50, 60, 10]